.profile-container{
  display: flex;
  background-color: var(--white-body-color);
  padding: 1rem;
  border-radius: 10px;
  gap: 20px;
  align-items: center;
}

.register-page-container{
  padding: 0.5rem 2rem;
  margin: 2rem;
  border-radius: 1rem;
  display: flex;
  height: 60vh;
}