@use "swiper/css";
@use "swiper/css/free-mode";
@use "swiper/css/navigation";
@use "swiper/css/thumbs";
@use "swiper/css/autoplay";

.app-bar-container {
  background-size: cover;
  background-position: center center;
  transition: background-image 0.5s ease-in-out;
}

.swiper-container {
  bottom: 0;
  position: absolute;
  width: 99vw;
}

.swiper-slide-container {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1;
  transform: translateX(0);
  background-size: cover;
  background-position: center center;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;

  &.slide-out {
    opacity: 0;
    transform: translateX(-100%);
  }
}